# /etc/udev/rules.d/99-netnotes.rules
# Allow users in 'netnotes' group to access USB HID devices

# USB HID Keyboards (Boot Protocol)
SUBSYSTEM=="usb", ATTRS{bInterfaceClass}=="03", ATTRS{bInterfaceSubClass}=="01", ATTRS{bInterfaceProtocol}=="01", MODE="0660", GROUP="netnotes"

# Raw HID devices
SUBSYSTEM=="hidraw", KERNEL=="hidraw*", MODE="0660", GROUP="netnotes"

# Installation instructions:
# 1. Create netnotes group:
#    sudo groupadd netnotes
#
# 2. Add your user to the group:
#    sudo usermod -a -G netnotes $USER
#
# 3. Copy this file to /etc/udev/rules.d/99-netnotes.rules
#
# 4. Reload udev rules:
#    sudo udevadm control --reload-rules
#    sudo udevadm trigger
#
# 5. Log out and back in for group membership to take effect
#
# 6. Verify permissions:
#    ls -l /dev/bus/usb/*/*
#    # Should show group 'netnotes' on keyboard devices