[Unit]
Description=Netnotes Secure Daemon
After=network.target

[Service]
Type=simple
User=netnotes
Group=netnotes
RuntimeDirectory=netnotes
RuntimeDirectoryMode=0750

ExecStart=/usr/local/bin/note-daemon
Restart=no
RestartSec=5s

# Journal logging
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
