[Unit]
Description=Netnotes Secure Daemon
After=network.target

[Service]
Type=simple
User=netnotes
Group=netnotes
RuntimeDirectory=netnotes
RuntimeDirectoryMode=0750
StateDirectory=netnotes
StateDirectoryMode=0750
Environment=NETNOTES_ROOT=/var/lib/netnotes

ExecStart=/usr/local/bin/note-daemon
Restart=no
RestartSec=5s

# Journal logging
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
